{% extends 'base.html.twig' %}

{% block title %}Register with Password{% endblock %}

{% block body %}
    <div style="max-width: 400px; margin: 50px auto;">
        <h1 class="text-center">Register with Password</h1>
        
        <form action="{{ path('app_register_password') }}" method="POST">
            <input type="email" name="email" class="form-input" placeholder="Enter an email to register" required />
            <input type="password" name="password" class="form-input" placeholder="Choose a password" required />

            <button type="submit" class="btn btn-primary">
                Register with Password
            </button>
        </form>

        <div class="text-center mt-3">
            <a href="{{ path('app_login') }}" style="color: #007bff; text-decoration: none;">&larr; Back to Login</a>
        </div>
    </div>
{% endblock %}
